.topBar {
    display: flex;
    padding: 10px;
}

.topBar div {
    flex: 50%;
}

#highscores a {
    text-decoration: none;
    color: blueviolet;
    text-align: start;
    font-size: 20px;
}

.topBar a {
    text-decoration: none;
    color: blueviolet;
    text-align: end;
    font-size: 20px;
}

.topBar a:hover {
    color: #ff0000;
}

.topBar div {
    display: flex;
    justify-content: space-between;
}

#startBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#startBox h1 {
    font-size: 25px;
}

#startBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#startBox button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#startBox button:hover {
    background-color: #ff0000;
}

#quizBox {
    display: none;
}

#quizBox h1 {
    font-size: 25px;
}

#quizBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#quizBox button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#quizBox button:hover {
    background-color: #ff0000;
}

#questionBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#questionBox h1 {
    font-size: 25px;
}

#questionBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#questionBox button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#questionBox button:hover {
    background-color: #ff0000;
}

#question {
    margin: 20px;
    font-size: 30px;
}

#resultBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#resultBox h1 {
    font-size: 25px;
}

#resultBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#resultBox button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#resultBox button:hover {
    background-color: #ff0000;
}

#endBox {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#endBox h1 {
    font-size: 25px;
}

#endBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#endBox button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#endBox button:hover {
    background-color: #ff0000;
}

#highscoreBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#highscoreBox h1 {
    font-size: 25px;
}

#highscoreBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#highscoreBox button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#highscoreBox button:hover {
    background-color: #ff0000;
}

#highscoreBox table {
    border-collapse: collapse;
    width: 100%;
}

#highscoreBox th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#highscoreBox td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#highscoreBox tr:nth-child(even) {
    background-color: #dddddd;
}

#scoreBox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreMessage  {
    padding: 20px;
    font-size: 25px;
}

#scoreBox p {
    text-align: center;
    font-size: 20px;
    width: 500px;
}

#scoreBox button {
    margin: 10px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#scoreBox button:hover {
    background-color: #ff0000;
}


#answerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

#answer1,
#answer2,
#answer3,
#answer4 {
    margin: 5px;
}

#viewHighscores {
    display: none;
}

#viewHighscores:hover {
    background-color: #ff0000;
}



